In [1]:
import numpy as np
import pandas as pd

cols = ["EIN", "NAME", "SUBSECCD", "ACTIV1", "ACTIV2", "ACTIV3", "GRRECMEM",
        "GRRECOTH", "ASS_EOY", "NETINC", "TOTREV", "ZIP", "zip5"]

df = pd.read_csv('../data/core_other/core_other_2013.txt',
                 usecols=cols, low_memory=False)

sec_ids = [1, 12, 14, 15, 16, 50, 60, 80]

orgs = df[df.SUBSECCD.isin(sec_ids)]

zip_codes = pd.read_csv('../data/zipcodes/zip_codes.csv')

merged = orgs.merge(zip_codes, left_on="zip5", right_on="Zipcode")

pd.__version__

'0.18.0'

In [3]:
grouped = merged[["SUBSECCD", "ASS_EOY", "TOTREV", "NETINC"]].groupby(['SUBSECCD'])
x = grouped.agg(['size','mean', 'median', 'sum'])
x.to_excel('../results/table1.xlsx')

In [34]:
df = merged[merged.SUBSECCD == 16]
df[['NAME', 'SUBSECCD', 'ASS_EOY', 'TOTREV']]

,NAME,SUBSECCD,ASS_EOY,TOTREV
463,EQUITY LIVESTOCK CREDIT CORPORATION,16,4639659,227514
772,NATIONAL FINANCE CREDIT CORP OF TX,16,133274669,5853304
1233,EDMONSON CO CATTLEMEN ASSOCIATION,16,63494,73802
2313,PRODUCERS LIVE STOCK CR CORP,16,119575828,5180480
3384,TRI-STATE LIVESTOCK CREDIT CORP,16,30612400,2004236
3519,COOPERATIVA DE AHORRO Y CREDITO DE MAYAGUEZ,16,92849988,4978882
5700,STAPLE COTTON DISCOUNT CORPORATION,16,108210390,2747758
6055,PRODUCERS LIVESTOCK CREDIT ASSOC,16,6892831,1206006
6249,VETERANS OF FOREIGN WARS,16,457904,149054

In [35]:
df = merged[merged.SUBSECCD == 1]
df[['NAME', 'SUBSECCD', 'ASS_EOY', 'TOTREV']]

,NAME,SUBSECCD,ASS_EOY,TOTREV
44,E S A CREDIT UNION,1,5585006,671471
84,MEMBERS ADVANTAGE COMMUMITY CREDIT UNION,1,72078245,3510653
170,PAINESVILLE CREDIT UNION,1,25673033,1438213
222,FAIRMONT VILLAGE CREDIT UNION,1,1800036,154496
523,ACE COMMUNITY CREDIT UNION,1,32322880,1291783
528,LENNOX EMPLOYEES CREDIT UNION,1,33483441,1483849
530,FEDERAL EMPLOYEES CREDIT UNION,1,18269368,1013264
531,HUB-CO CREDIT UNION,1,13915877,579191
532,IOWA CORPORATE CENTRAL CREDIT UNION,1,47594283,2661673
533,PEOPLES CREDIT UNION,1,20924337,1068574
539,DIVISION 6 HIGHWAY CREDIT UNION,1,14873727,478435
543,GREATER OZARKS COMMUNITY CREDIT UNION,1,6084726,494334
548,UNITED SAVINGS CREDIT UNION,1,36041397,1924370
608,ENTRUST FINANCIAL CREDIT UNION,1,67045994,4177497
632,CREDIT UNIONS CHARTERED IN THE STATE OF SOUTH ...,1,5938715,289171
665,CREDIT UNIONS CHARTERED IN THE STATE OF TENNESSEE,1,5008488,273665
678,CREDIT UNIONS CHARTERED IN THE STATE OF TENNESSEE,1,2414701,130821
746,CREDIT UNIONS IN THE STATE OF OKLAHOMA ADA FED...,1,8116030,412679
752,GOLDEN TRIANGLE FEDERAL CREDIT UNION,1,12750,807
959,BELEN RAILWAY EMPLOYEES CREDIT UNION,1,21937448,1007623
973,FREEDOM CREDIT UNION,1,22436791,1195248
1080,FARMERS CREDIT UNION,1,13650171,409098
3054,ADVANTAGE CREDIT UNION,1,56851809,2687250
5712,CREDIT UNIONS IN THE STATE OF NEW MEXICO,1,3445688,206335