In [1]:
import sys
import os   
import traceback
import pandas as pd
import time
import warnings
#warnings.simplefilter("ignore", Warning)

data_path = '../data/core_other'
data = {}
data_all = pd.DataFrame()
years = []

#final columns
columns = ['EIN', 'SUBSECCD', 'FisYr', 'NAME', 'CITY', 'STATE', 'ZIP_CODE', 'TOTAL_ASSETS', 'REVENUE', 'NET_INCOME']

data_files = os.listdir(data_path)
file_dict = dict(zip(data_files, range(len(data_files))))
print (data_files)

['core_other_2009.txt', 'core_other_2002.txt', 'core_other_2008.txt', 'core_other_2011.txt', 'core_other_2004.txt', 'core_other_2007.txt', 'core_other_1999.txt', 'core_other_2013.txt', 'core_other_2012.txt', 'core_other_1995.txt', 'core_other_2003.txt', 'core_other_1998.txt', 'core_other_2001.txt', 'core_other_2000.txt', 'core_other_2010.txt', 'core_other_2006.txt', 'core_other_1996.txt', 'core_other_2005.txt', 'core_other_1997.txt']

In [2]:
for file_name, idx in file_dict.items():
    data_file =  data_path + '/' + file_name
    
    if '~' in file_name:
        continue

    try:
        file_name_no_exnt = file_name.split('.')[0]
        year = file_name_no_exnt.split('_')[2]
        year = int(year)
    except:
        year = 'NA' 
    

    try:
        data[year] = pd.read_csv(data_file, sep=',', low_memory=False, quotechar='"')

        #convert column data into numeric type for sorting and processing
        data[year]['SUBSECCD'] = data[year]['SUBSECCD'].convert_objects(convert_numeric = True)

        #adding a common column for assets because of different columns in different year files
        if 'ASS_EOY' in data[year]:
            data[year]['TOTAL_ASSETS'] = data[year]['ASS_EOY'].convert_objects(convert_numeric = True)

        elif 'p4e_asst' in data[year]:
            data[year]['TOTAL_ASSETS'] = data[year]['p4e_asst'].convert_objects(convert_numeric = True)

        else:
            #print "TOTAL_ASSETS not found for file : " + str(file_name)
            data[year]['TOTAL_ASSETS'] = 0

        #adding a common column for revenue because of different columns in different year files
        if 'TOTREV2' in data[year]:
            data[year]['REVENUE'] = data[year]['TOTREV2'].convert_objects(convert_numeric = True)

        elif 'p1totrev' in data[year]:
            data[year]['REVENUE'] = data[year]['p1totrev'].convert_objects(convert_numeric = True)

        elif 'p1psrev' in data[year]:
            data[year]['REVENUE'] = data[year]['p1psrev'].convert_objects(convert_numeric = True)

        else:
            #print "REVENUE not found for file : " + str(file_name)
            data[year]['REVENUE'] = 0

        #adding a common column for revenue because of different columns in different year files
        if 'grossinc' in data[year]:
            data[year]['NET_INCOME'] = data[year]['grossinc'].convert_objects(convert_numeric = True)

        elif 'NETINC' in data[year]:
            data[year]['NET_INCOME'] = data[year]['NETINC'].convert_objects(convert_numeric = True)

        else:
            #print "NET_INCOME not found for file : " + str(file_name)
            data[year]['NET_INCOME'] = 0  

        #adding a common column for 5 digit zip code because of different columns in different year files for zip
        if 'ZIP5' in data[year]:
            data[year]['ZIP_CODE'] = data[year]['ZIP5'].convert_objects(convert_numeric = True)

        elif 'zip5' in data[year]:
            data[year]['ZIP_CODE'] = data[year]['zip5'].convert_objects(convert_numeric = True)

        else:
            data[year]['ZIP_CODE'] = ''

        data_all = data_all.append(data[year][columns], ignore_index=True)
        #print ("loaded file : " + str(file_name))
        
    except:
        traceback.print_exc(file=sys.stdout)
        print ("error : reading files")
        exit()

/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:19: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:23: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:34: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:51: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:62: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:26: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:37: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:48: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:59: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/usr/local/lib/python3.4/dist-packages/IPython/kernel/__main__.py:40: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [3]:
#table 1 to get data of orgs for all years whose SUBSECCD_val = [1,12,14,15,16,50,60,80]
SUBSECCD_val = [1,12,14,15,16,50,60,80]
data_year_wise = data
data_subseccd = data_all.loc[data_all['SUBSECCD'].isin(SUBSECCD_val)]

In [4]:
table_1_columns = ['SUBSECCD', 'TOTAL_ENTRIES', 'TOTAL_ASSETS', 'REVENUE', 'REVENUE_AVERAGE', 'REVENUE_MEDIAN', 'NET_INCOME', 'NET_INCOME_AVERAGE', 'NET_INCOME_MEDIAN' ]
data_table_1 = pd.DataFrame(columns=table_1_columns)
for val in SUBSECCD_val:
    data_temp = data_subseccd.loc[data_subseccd['SUBSECCD'] == val]
    total_entries = len(data_temp)
    #Total Assets
    total_asst = data_temp['TOTAL_ASSETS'].sum()
    #Revenue
    total_rev = data_temp['REVENUE'].sum()
    try:
        total_rev_mean = int(data_temp['REVENUE'].mean())
    except:
        total_rev_mean = 0
    total_rev_median = data_temp['REVENUE'].median()
    #Net Income
    total_inc = data_temp['NET_INCOME'].sum()
    try:
        total_inc_mean = int(data_temp['NET_INCOME'].mean())
    except:
        total_inc_mean = 0
    total_inc_median = data_temp['NET_INCOME'].median()        

    data_table_1.loc[SUBSECCD_val.index(val)] = [val, total_entries, total_asst, total_rev, total_rev_mean, total_rev_median, total_inc, total_inc_mean, total_inc_median]

print ("table : SUBCECCD = [1,12,14,15,16,50,60,80]")
print ("-------------------------------------------")
file_name = '../results/core_other_table_1_years_[all]_' + str(time.strftime("%H:%M:%S") + ".csv")
data_table_1.to_csv(file_name, float_format='%.f', mode = 'w', index=False)
print (data_table_1.to_string(float_format = '{:,.0f}'.format, index=False))
print ("table saved at : " + file_name)

table : SUBCECCD = [1,12,14,15,16,50,60,80]
-------------------------------------------
 SUBSECCD  TOTAL_ENTRIES      TOTAL_ASSETS         REVENUE  REVENUE_AVERAGE  REVENUE_MEDIAN      NET_INCOME  NET_INCOME_AVERAGE  NET_INCOME_MEDIAN
        1            408     6,269,820,888     460,173,426        1,127,876         115,676      70,646,206             173,152              6,505
       12         70,598 1,649,006,084,623 731,619,862,747       10,363,181         287,190 129,770,118,467           1,838,155             33,639
       14         36,871 6,109,930,325,496 368,496,086,472        9,994,469         939,499  85,789,914,721           2,326,821             95,994
       15         15,600    73,454,815,562  11,683,620,935          748,950         178,236   7,368,482,502             472,338             46,547
       16            256     8,148,502,176     531,957,169        2,077,957       1,413,024     206,808,741             807,846            211,756
       50            234    11,151,829,135  11,180,444,010       47,779,675       2,996,276   3,443,624,482          14,716,343            337,262
       60              0                 0               0                0             nan               0                   0                nan
       80             36        22,809,561       2,670,368           74,176          39,028       1,311,115              36,419              1,100
table saved at : ../results/core_other_table_1_years_[all]_23:37:16.csv

In [5]:
#table 2 for spicific year or years
years = [2013]
data_year = pd.DataFrame()
for yr in years:
    data_year = data_year.append(data_year_wise[yr], ignore_index=True)

data_year = data_year.loc[data_year['SUBSECCD'].isin(SUBSECCD_val)]

In [6]:
table_2_columns = ['SUBSECCD', 'YEAR', 'TOTAL_ENTRIES', 'TOTAL_ASSETS', 'REVENUE', 'REVENUE_AVERAGE', 'REVENUE_MEDIAN', 'NET_INCOME', 'NET_INCOME_AVERAGE', 'NET_INCOME_MEDIAN' ]
data_table_2 = pd.DataFrame(columns=table_2_columns)
for val in SUBSECCD_val:
    data_temp = data_year.loc[data_year['SUBSECCD'] == val]
    total_entries = len(data_temp)
    #Total Assets
    total_asst = data_temp['TOTAL_ASSETS'].sum()
    #Revenue
    total_rev = data_temp['REVENUE'].sum()
    try:
        total_rev_mean = int(data_temp['REVENUE'].mean())
    except:
        total_rev_mean = 0
    total_rev_median = data_temp['REVENUE'].median()
    #Net Income
    total_inc = data_temp['NET_INCOME'].sum()
    try:
        total_inc_mean = int(data_temp['NET_INCOME'].mean())
    except:
        total_inc_mean = 0
    total_inc_median = data_temp['NET_INCOME'].median()        

    data_table_2.loc[SUBSECCD_val.index(val)] = [val, years, total_entries, total_asst, total_rev, total_rev_mean, total_rev_median, total_inc, total_inc_mean, total_inc_median]

print ("table : SUBCECCD = [1,12,14,15,16,50,60,80] Years = " + str(years))
print ("-------------------------------------------------------------------")
file_name = '../results/core_other_table_1_years_' + str(years) + "_" + str(time.strftime("%H:%M:%S") + ".csv")
data_table_2.to_csv(file_name, float_format='%.f', mode = 'w', index=False)
print (data_table_2.to_string(float_format = '{:,.0f}'.format, index=False))
print ("table saved at : " + file_name)

table : SUBCECCD = [1,12,14,15,16,50,60,80] Years = [2013]
-------------------------------------------------------------------
 SUBSECCD    YEAR  TOTAL_ENTRIES    TOTAL_ASSETS        REVENUE  REVENUE_AVERAGE  REVENUE_MEDIAN    NET_INCOME  NET_INCOME_AVERAGE  NET_INCOME_MEDIAN
        1  [2013]             24     535,504,941     27,560,500        1,148,354         839,547     2,200,358              91,681             10,729
       12  [2013]          3,797 142,671,251,135 62,140,775,935       16,365,756         383,535 1,607,455,241             423,348              7,084
       14  [2013]          2,217 418,717,505,200 19,421,268,634        8,760,157       1,502,512 3,211,473,731           1,448,567             78,416
       15  [2013]            260     347,237,536     71,831,497          276,274         270,006     8,513,170              32,742             17,538
       16  [2013]              9     496,577,163     22,421,036        2,491,226       2,004,236     8,051,936             894,659            400,088
       50  [2013]              0               0              0                0             nan             0                   0                nan
       60  [2013]              0               0              0                0             nan             0                   0                nan
       80  [2013]              0               0              0                0             nan             0                   0                nan
table saved at : ../results/core_other_table_1_years_[2013]_23:37:16.csv

In [7]:
#table 3 for specific state or states
states = ['CA']
data_state = data_all.loc[data_all['STATE'].isin(states)]
data_state = data_state.loc[data_state['SUBSECCD'].isin(SUBSECCD_val)]

In [8]:
table_3_columns = ['SUBSECCD', 'STATE', 'TOTAL_ENTRIES', 'ASSETS', 'REVENUE', 'REVENUE_AVERAGE', 'REVENUE_MEDIAN', 'NET_INCOME', 'NET_INCOME_AVERAGE', 'NET_INCOME_MEDIAN' ]
data_table_3 = pd.DataFrame(columns=table_3_columns)
for val in SUBSECCD_val:
    data_temp = data_state.loc[data_state['SUBSECCD'] == val]
    total_entries = len(data_temp)
    #Total Assets
    total_asst = data_temp['TOTAL_ASSETS'].sum()
    #Revenue
    total_rev = data_temp['REVENUE'].sum()
    try:
        total_rev_mean = int(data_temp['REVENUE'].mean())
    except:
        total_rev_mean = 0
    total_rev_median = data_temp['REVENUE'].median()
    #Net Income
    total_inc = data_temp['NET_INCOME'].sum()
    try:
        total_inc_mean = int(data_temp['NET_INCOME'].mean())
    except:
        total_inc_mean = 0
    total_inc_median = data_temp['NET_INCOME'].median()        

    data_table_3.loc[SUBSECCD_val.index(val)] = [val, states, total_entries, total_asst, total_rev, total_rev_mean, total_rev_median, total_inc, total_inc_mean, total_inc_median]

print ("table : SUBCECCD = [1,12,14,15,16,50,60,80] States = " + str(states))
print ("---------------------------------------------------------------------")
file_name = '../results/core_other_table_1_states_' + str(states) + "_" + str(time.strftime("%H:%M:%S") + ".csv")
data_table_3.to_csv(file_name, float_format='%.f', mode = 'w', index=False)
print (data_table_3.to_string(float_format = '{:,.0f}'.format, index=False))
print ("table saved at : " + file_name)

table : SUBCECCD = [1,12,14,15,16,50,60,80] States = ['CA']
---------------------------------------------------------------------
 SUBSECCD STATE  TOTAL_ENTRIES            ASSETS        REVENUE  REVENUE_AVERAGE  REVENUE_MEDIAN     NET_INCOME  NET_INCOME_AVERAGE  NET_INCOME_MEDIAN
        1  [CA]             16         5,027,206      4,901,987          306,374          65,001      3,275,659             204,728              9,900
       12  [CA]          7,718    10,915,887,818  3,303,164,319          427,981          78,268    688,165,706              89,163              5,856
       14  [CA]          1,069 1,105,590,098,428 67,578,120,602       63,216,202       5,472,911 11,503,765,843          10,761,240             24,305
       15  [CA]          1,146     9,553,653,360  1,979,478,136        1,727,293         175,814  1,378,992,742           1,203,309             56,016
       16  [CA]             18       647,689,160     31,153,851        1,730,769       1,765,781     10,770,947             598,385            437,793
       50  [CA]              4         6,352,141     15,887,681        3,971,920       3,883,670     15,223,251           3,805,812          3,916,680
       60  [CA]              0                 0              0                0             nan              0                   0                nan
       80  [CA]              0                 0              0                0             nan              0                   0                nan
table saved at : ../results/core_other_table_1_states_['CA']_23:37:17.csv

In [9]:
#map plotting
SUBSECCD_val = [1,12,14,15,16,50,60,80]

subseccd = {}
for val in SUBSECCD_val:
    subseccd[val] = data_all.loc[data_all['SUBSECCD'].isin([val])]


for val in SUBSECCD_val:
    print list(subseccd[val]['EIN'].values)
    print list(subseccd[val]['ZIP_CODE'].values)

SyntaxError: invalid syntax (<ipython-input-9-6e792fb42f70>, line 10)